<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
    <h1>User Profile: <%= user.name %></h1>
    <p>Total CO2 Emissions: <%= user.totalco2 %> kg CO2</p>
    <br>
    <h1>Your co2 usage History</h1>
    
    
    
</body>
</html>