body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('login-bg.jpg');
    background-size: cover;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 18px;
    margin-top: 10px;
    color: #101211;
    font-weight: bolder;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: transparent; 
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

th {
    background-color: rgba(52, 73, 94, 0.8); 
    color: #fff;
}

tr:hover {
    background-color: rgba(241, 241, 241, 0.2); /* Slightly transparent on hover */
}



@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        font-size: 14px;
    }
}
